/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Edu's custom styles
   ========================================================================== */


html{
  box-sizing: border-box; /*para el borde de las cajas, aunque les aplique padding no les afecte*/
}
*,*:before,*::after { /*http://www.falconmasters.com/css/mejor-manera-de-box-sizing/*/
  box-sizing: inherit; /*hereda de html o cualquier otro*/
}

body{
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

/*estilos "globales"*/
.contenedor{
  width: 98%;/*para que cuando estemos en responsive no llegue hasta los bordes, lo cual a mí me molesta mucho en algunas webs*/
  margin: 0 auto;
}
@media only screen and (min-width: 480px){
  .contenedor{
    width: 95%;/*para que cuando estemos en responsive no llegue hasta los bordes, lo cual a mí me molesta mucho en algunas webs*/
  }
}
@media only screen and (min-width: 768px){
  .contenedor{
    width: 90%;/*para que cuando estemos en responsive no llegue hasta los bordes, lo cual a mí me molesta mucho en algunas webs*/
  }
}
@media only screen and (min-width: 992px){
  .contenedor{
    width: 90%;/*para que cuando estemos en responsive no llegue hasta los bordes, lo cual a mí me molesta mucho en algunas webs*/
    max-width: 1100px;
  }
}
.seccion{
  padding: 30px 0;
}
.seccion p{
  font-size: 1.2em;
  text-align: center;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
h2::after{/*separador, tres rombos, debajo de class seccion contenedor*/
  content: '';
  margin: 0 auto;
  background-image: url("../img/separador.png");
  height: 30px;
  width: 100px;
  display: block;
}
h3{
  font-size: 1.8em;
  color: #fe4918;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
.button{
  background-color: #fe4918;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
  border: 2px solid #fe4918;
}
.button.hollow,
.button.hollow:hover{ /*TODO mirar como mejorar el hover al boton*/
  background-color: white;
  color: #fe4918;
}
.button:hover{
  background-color: #e33000;
}
.button.transparente{
  background-color: transparent;
  border: 2px solid #ffffff;
}
.button.transparente:hover{
  border: 2px solid #fe4918;
  background-color: #fe4918;
}
ul{
  list-style: none; /*quito el puntito de delante*/
  margin: 0;
  padding: 0;
}
.float-right{
  float: right;
}

/****Lettering****/
h1.nombre-sitio span{
  position: relative;
  text-shadow: 0 0 30px black;
}

/*que e mantenga el color cuando responsive tamaño<992px*/
.char5{/*t*/
  color: black;
}
.char6{/*a*/
  color: yellow;
}
.char7{/*x*/
  color: black;
}
.char8{/*i*/
  color: yellow;
}

@media only screen and (min-width: 992px){
  .char1{
    top: 0px; right: 0px;
  }
  .char2{
    top: 0px; right: 0px;
  }
  .char3{
    top: 10px; right: 10px;
  }
  .char4{/* */
    top: 5px; right: 10px;
  }
  .char5{/*t*/
    top: 15px; right: 10px;
    color: black;
  }
  .char6{/*a*/
    top: 5px; right: 10px;
    color: yellow;
  }
  .char7{/*x*/
    top: 20px; right: 10px;
    color: black;
  }
  .char8{/*i*/
    top: 0px; right: 10px;
    color: yellow;
  }
  .char9{/* */
    top: 10px; right: 20px;
  }
  .char10{/*t*/
    top: 20px; right: 0px;
  }
  .char11{/*o*/
    top: 10px; right: -5px;
  }
  .char12{/*u*/
    top: 20px; right: 20px;
  }
  .char13{/*r*/
    top: 20px; right: 20px;
  }

}



/*header*/
div.hero{
  background-image: url(../img/encabezado.jpg); /*cambiar*/
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
div.contenido-header{ /*espacio blanco arriba*/
  padding-top: 40px;
}
@media only screen and (min-width: 768px){
  div.contenido-header{ /*espacio blanco arriba*/
    padding-top: 10px;
  }
}
nav.redes-sociales{ /*los centramos*/
  text-align: center;
}
nav.redes-sociales a{
  color: #ffffff;
  font-size: 2em;
  margin-right: 20px; /*margen entre los iconos de redes sociales*/
}

div.informacion-ruta {
  text-align: center;
  color: #ffffff;
}

@media only screen and (min-width: 768px){
  div.informacion-ruta{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
div.informacion-ruta p{
  margin: 0;/*tienen un poquito de margen por defecto que no me gusta*/
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}

div.informacion-ruta p i{/*iconos*/
  color: #fe4918;
  font-size: 2.4rem;
}
p.fecha{
  float: left;
}
p.ciudad{
  float: right;
  text-align: right;
}
p.slogan{
  text-transform: none!important;/*le quito las mayúsculas, sin el important no hace caso*/
}
p.slogan span{
  font-weight: bold;
}

/*logo*/
h1.nombre-sitio{
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}
@media only screen and (min-width: 768px){
  h1.nombre-sitio{
    font-size: 11.5vw;
    margin: 0;
    line-height: 1;
  }
}

/*barra después hero*/
div.barra{
  background-color: #353535;
  padding: 20px 0;
}
.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
div.logo{
  width: 80%;
  float: left;
}
div.logo img{
  width: 100%;
}
@media only screen and (min-width: 768px){
  div.logo{
    width: 33%;
  }
}

/**Nav principal**/
nav.navegacion-principal{
  display: none;
  width: 100%;
}
nav.navegacion-principal a{
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;/*quitar la linea inferior fea*/
  transition: all .3s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  clear: both;
}
nav.navegacion-principal a:hover{
  background-color: #fe4918; /*cambiar*/
}
nav.navegacion-principal a:last-child{
  border: 2px solid #fe4918;/*cambiar*/
  color: #fe4918;
}
nav.navegacion-principal a:last-child:hover{
  color: #ffffff;
}
@media only screen and (min-width: 768px){
  nav.navegacion-principal{
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
  nav.navegacion-principal a{
    /*line-height: 60px;*/
    padding: 10px 10px;/*TODO retocar altura de los botones laterales derecho*/
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 10px 0 0;
  }
}

/*menu para móvil*/
div.menu-movil{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}
div.menu-movil:hover{
  cursor: pointer;
}
@media only screen and (min-width: 768px){
  div.menu-movil{
    display: none;
  }
}
div.menu-movil span{
  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}

/**rutas**/
section.informacion{
  position: relative;
}
div.contenedor-video{
  max-width: 100%;
  overflow-x: hidden;/*por si el vídeo se sale, que lo permita un poco*/
}
div.contenido-informacion{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
div.informacion-servicio{
  background-color: rgba(255,255,255,.8);
  padding: 15px;
  margin-top: 80px;
}
@media only screen and (min-width: 768px){
  div.informacion-servicio{
    width: 70%;
  }
}
@media only screen and (min-width: 992px){
  div.informacion-servicio{
    width: 50%;
  }
}
nav.menu-informacion{
  width: 100%;
}
@media only screen and (min-width: 768px){
  nav.menu-informacion{
    display: table;/*para que el sitio donde puedas clickar no sea toda*/
  }
}
nav.menu-informacion a{
  display: block;/*para que esten todos verticalmente en móviles*/
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe4918;
}
nav.menu-informacion a.activo::after{
  position: absolute;
  content: '';
  left: 0;/*de aquí*/
  right: 0;
  margin-left: auto;
  margin-right: auto;/*hasta aquí es para la posición horizontal de la flecha de activo*/
  height: 20px;
  width: 30px;
  background-image: url("../img/info-flecha.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  bottom: -20px;
}
@media only screen and (min-width: 768px){
  nav.menu-informacion a{
    display: table-cell;
  }
}
nav.menu-informacion a i, div.detalle-servicio i{
  color: #fe4918;
  font-size: 1.6em;
  margin-right: 10px;
}
div.ocultar{
  display: none;
}

/*detalle servicio*/
div.detalle-servicio{
  margin-top: 20px;
  border-bottom: 1px solid black;/*línea inferior*/
  padding: 0px 20px;
}
div.detalle-servicio:nth-child(2){/*, pero que el último no tenga línea inferior*/
  border: none;
}
div.detalle-servicio p {
  margin-bottom: 20px;
  font-size: 20px;
}

/*conductores/taxis*/
ul.lista-conductores li{
  padding: 10px;
  float: left;
}
@media only screen and (min-width: 480px){
  ul.lista-conductores li{
    width: 50%;
  }
}
@media only screen and (min-width: 768px){
  ul.lista-conductores li{
    width: 33.3%;
  }
}
div.conductor{
  position: relative;
  overflow: hidden;
}
div.conductor img{
  max-width: 100%;
  filter: gray();/*en lugar de hacer dos imagenes y esconder una cuando hover, lo hago por css*/
  -webkit-filter: grayscale(1); /*prefijo, en un navegador que use webkit le agrega estilos y funcionalidades especificas para ese navegador*/
  -webkit-transition: all .5s ease-in-out;
}
div.conductor img:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  /*transform: rotate(3deg);*/
}
div.conductor p{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgba(0,0,0,0.55);
  width: 100%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: #fe4918;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
}
div.conductor:hover p{ /*el hover antes del p, ojo, para que el afectado sea el parrafo y no el img*/
  bottom: -80px;
  opacity: 0;
}

/*contador*/
.parallax::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.8);/*como están los números como relative, esto no les afecta, sólo al fondo, y así se ven mejor*/
  filter:brightness(.8);
}
div.contador{
  position: relative;
  height: auto;
}
div.contador::before{
  background-image: url("../img/bg-resumen.jpg");
  content: '';/*siempre que utilizamos before o after no olvidar el content*/
}
ul.resumen-servicio{
  position: relative;/*para resetear el absolute*/
  padding: 120px 0;
}
ul.resumen-servicio li{
  width: 50%;
  float: left;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
@media only screen and (min-width: 768px){
  ul.resumen-servicio li{
    width: 25%;
  }
}
p.numero{
  color: #fe4918;
  font-size: 4em;
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Oswald', sans-serif;
}

/*tabla de precios*/
ul.lista-precios > li{
  padding: 10px;
}
@media only screen and (min-width: 768px){
  ul.lista-precios > li{
    float: left;
    width: 33.3%;
  }
}
div.tabla-precio{
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
  transition: all .3s ease;
}
div.tabla-precio:hover{
  transform: scale(1.1);
  border: 1px solid #fe4918;
  box-shadow: 0px 0px 50px #666;
}
div.tabla-precio ul li{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #868686;
  line-height: 26px;
}
div.tabla-precio ul li:before{/*agregar el check delante*/
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 20px;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: '\f00c';/*esto es el unicode sacado de la web de fontawesome*/
}
div.tabla-precio h3{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
div.tabla-precio p.numero{
  color: black;
  margin: 20px 0;
}

/*mapa*/
div.mapa{
  height: 420px;
  background-color: green;
}

/*bio*/
div.biografias{
  padding-bottom: 20px;
}
div.biografia{
  padding: 5px;
}
@media only screen and (min-width: 768px){
  div.biografia{
    float: left;
    width: 33.3%;
  }
}
blockquote{
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 0 10px 0;
  padding-bottom: 20px;
}
blockquote p{
  text-align: justify!important;
  font-size: 1em!important;
  font-family: 'PT Sans', sans-serif;
  padding: 0 20px 0 65px;
}
blockquote p::before{
  content: '\201c'; /*unicode fontawesome*/
  position: absolute;
  left: 13px;
  top: 8px;
  font-size: 8rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fe4918;
}
footer.info-biografia{
  padding: 0;
}
footer.info-biografia img{
  float: left;
  width: 20%;
  border-radius: 50%;
  margin-left: 20px;
}
footer.info-biografia cite{
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}
footer.info-biografia cite span{
  color: black;
  display: block;
  text-transform: none;
  margin-top: 5px;
}

/*newsletter*/
div.newsletter{
  position: relative;
  height: auto;
}
div.newsletter::before{
  background-image: url("../img/bg-newsletter.jpg");
  content: '';
}
div.newsletter .contenido{
  padding: 100px 0;
  color: #ffffff;
  text-align: center;
  position: relative;
}
div.newsletter .contenido p{
  font-size: 1.2em;
  text-transform: lowercase;
}
div.newsletter .contenido h3{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 7vw;
  font-family: 'PT Sans', sans-serif;
}

/*cuenta atrás*/
div.cuenta-atras ul li{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 768px){
  div.cuenta-atras ul li{
    width: 25%;
    float: left;
  }
}

/*footer*/
.site-footer{
  background-color: #353535;
  padding-top: 40px;
  margin-top: 20px;
}
.site-footer .contenedor > div{
  color: white;
  padding: 0px 20px;
  font-size: 12px;
}
@media only screen and (min-width: 768px){
  .site-footer .contenedor > div{
    width: 33.3%;
    float: left;
  }
}
.site-footer h3{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
}
.site-footer h3 span{
  color: #fe4918;
}
.site-footer .ultimos-tweets li{
  margin-bottom: 10px;
}
.site-footer nav.redes-sociales{
   text-align: left;
}
p.copyright{
  background-color: #2e2e2e;
  color: white;
  padding: 10px 0;
  margin: 20px 0 0 0;
  text-align: center;
}


/******internas******/
/*rutas y otros*/
.navegacion-principal .activo{
  border-bottom: 2px solid #fe4918; /*la rayita debajo que indica dónde estamos*/
}
div.galeria a{
  display: inline-block;
  margin-bottom: 5px;
}


/*registro*/
form.registro h3{
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}
form.registro label{
  margin-bottom: 5px;
  font-weight: bold;
}
h4{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #fe4918;
  padding-bottom: 10px;
  font-size: 1.2em;
}
div.caja{
  background-color: white;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin: 10px;
}
div.campo{
  padding: 20px;
}
@media only screen and (min-width: 768px){
  div.campo{
    float: left;
    width: 33.3%;
  }
}
div.paquetes .tabla-precio:hover{
  transform: none;/*quito las animaciones en registro.php*/
  box-shadow: none;
}
div.paquetes .tabla-precio input{
  clear: both;/*para que se ponga debajo*/
  width: 100px;
  margin: 10px auto 0 auto;
  display: block;
}
.contenido-dia{
  padding: 20px;
  display: none;
}
@media only screen and (min-width: 768px){
  .contenido-dia > div{
    float: left;
    width: 33.3%;
  }
}
.contenido-dia > div p{
  text-align: left;
}
.contenido-dia > div label{
  display: block;
  margin-bottom: 10px;
}
.contenido-dia > div input{
  margin-right: 10px;
}
.contenido-dia > div label time{
  color: #fe4918;
  font-weight: bold;
}

/*resumen registro*/
div.resumen p{
  font-size: 1.2em;
  text-transform: uppercase;
}
div.resumen div.extras{
  float: left;
  width: 50%;
  padding: 30px;
}
div.extras div.orden{
  text-align: left;
  margin-bottom: 10px;
}
div.extras div.orden input{
  margin: 10px 0 0 0;
}
div.resumen div.total{
  float: right;
  width: 50%;
  padding: 30px;
}
div.resumen input{
  display: block;
  margin: 10px auto;
}
#lista-productos{
  background-color: #e1e1e1;
  padding: 20px;
  display: none;
}
#suma-total{
  text-align: center;
  font-size: 2em;
  color: #fe4918;
}

#error {
  clear: both;
  padding: 20px;
  text-align: center;
  color: #ff533a;
  display: none;
}

/***Calendario****/
div.calendario h3 {
  background-color: #fe4918;
  clear: both;
  color: white;
  text-align: center;
  padding: 10px 0;
}
div.calendario::after {
  clear: both;
  display: block;
  content: '';
}
div.dia {
  width: 50%; /*con esto hago que sólo se vean dos cuando está responsive*/
  float: left;
  border: 2px solid #e1e1e1;
  transition: all .3s ease;
}
@media only screen and (min-width:768px) {
  div.dia {
    width: 33.3%;
    min-height: 240px;
    padding-top: 20px;
  }
}
div.dia:hover {
  background-color: #e1e1e1;
  -webkit-transform: scale(1.1);
}
div.dia p.titulo {
  color: #fe4918;
  text-transform: uppercase;
  font-weight: bold;
}
div.dia p {
  font-size: 1em;
}
div.dia i {
  color: #fe4918;
  font-size: 1.6em;
}

/**** Colorbox **/
div.cboxElement { /*nombre que colorbox da automáticamente*/
  padding: 30px!important;
  text-align: center;
} /*cambiar responsive*/




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
